@import url(./bootstrap.css);
@import url(./fontawesome/all.css);
/* @import url(./webfonts); */

@font-face {
    font-family: kalame;
    src: url(../font/KalamehWeb\(FaNum\)-Regular.woff);
}

:root{
    --yellow-color: #ffb93a;
    --footer-color: #454545;
    --gray-color:#ecececd8;
    --hover-color:#0b5091e7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
body{
    color: black !important;
    font-family: kalame;
}
a {
    text-decoration: none;
    color: black;
    /* color: white; */
}
p{
    text-align: justify;
}
.bg_yellow {
    background-color: var(--yellow-color);
}
.bg_gray {
    background-color: var(--gray-color);
}
/* .fix_header{
    position:fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
} */
.hover_blue{
  width: fit-content;
  transition: all 0.5 ease-in-out;
  -webkit-transition: all 0.5 ease-in-out;
  -moz-transition: all 0.5 ease-in-out;
  -ms-transition: all 0.5 ease-in-out;
  -o-transition: all 0.5 ease-in-out;
}
.border_hover{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.hover_blue:hover {
    color: var(--hover-color) !important;
}
.border_hover:hover{
    border-bottom: solid 1px var(--hover-color);
}
/* @media screen and (max-width:999px) {
    body{
        font-size: 80%;
    }
    h1, h2, h3, h4, h5, h6, p {
        font-size: 99%;
    }
} */


/* start header style for bigger than lg*/
.menu{
    width: 100%;
    height: 60px;
    background-color: var(--yellow-color);
    margin: 0;
    padding: 0;
}
.menu ul{
    width: 100%;
    height: 100%;
}
.menu ul li{
    position: relative;
    height: 100%;
    line-height: 60px;
}
.drupdown{
    width: 120px;
    height: 0;
    position: absolute;
    padding: 10px 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 0;
    color: black;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.377);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.drupdown li{
    line-height: 30px !important;
    padding-right: 10px;
}
.active_drupdown{
    opacity: 1 !important;
    height: 100px;
}
.drupdown_hover{
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.drupdown_hover:hover{
    color: var(--hover-color) !important;
    border-right: solid 2px var(--hover-color);
}
/* start header style for smaller than lg*/
.menu_small{
    width: 100px;
    height: 100vh;
    background-color: var(--yellow-color);
    z-index: 1;
}
.menu_small ul{
    width: 100px;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.menu_small ul li{
    position: relative;
    width: 100%; 
}
.drupdown_small{
    width: 100px;
    height: 0;
    /* top: 70px; */
    right: 0;
    position: absolute;
    opacity: 0;
    padding-right: 4px;
    z-index: 2;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;   
}
.active_drupdown_small{
    opacity: 1!important;
    height: 100px !important;
    
    
}
.rotate-up{
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.rotate-down{
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
/* finish header style */
/* start intrduce style */
.image-container{
    position: relative;
}

@media screen and (max-width:1200px) {
    .image-container::before{
        content: '';
        background-color: var(--yellow-color);
        /* background-image: url(../img/Untitled-2\ copy.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain; */
        width: 100%;
        height: 45rem;
        position: absolute;
        z-index: -1;   
    }

    .image_nav{
        height: 41rem;
       }
    .introduce{
        margin-top: 4rem !important;
        margin-right: 0 !important;
    }
    
}
.image-container::before{
    content: '';
    background-color: var(--yellow-color);
    /* background-image: url(../img/Untitled-2\ copy.png); */
    /* background-position-x: 120%;
    background-repeat: no-repeat; */
    height: 712px;
    position: absolute;
    top: -56px;
    left: 0;
    width: 100%;
    z-index: -1;  
}

.introduce{
    padding-top: 240px;
    padding-right: 17%;
}
@media screen and (max-width:1650px) {
    .introduce{
        padding-right: 11%;
    }
}
@media screen and (max-width:1200px) {
    .introduce{
        padding: 35px 0;
    }
}
.image_nav{
    height: 657px;
}
/* finish intrduce style */
/* start card style */
.title_container{
    width: 100%;
    height: 100%;
    margin-top: 100px;

}
.title::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 60px;
    background-color: var(--yellow-color);
    right: 3px;
    top: -9px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.card{
    width: 280px;
    height: 280px;
    position: relative;
    border: none;
    opacity: 0;
    transition: all 1s ease-in-out;
    transform: translateY(40px);
    animation: fadeInUp 0.8s ease-in-out forwards;
    -webkit-animation: fadeInUp 0.8s ease-in-out forwards;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
}
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
        -webkit-transform: translateY(40px);
        -moz-transform: translateY(40px);
        -ms-transform: translateY(40px);
        -o-transform: translateY(40px);
}
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.card::after{
    content:"";
    position: absolute;
    top: 0;
    right: 50%;
    transform: translate(50%);
    -webkit-transform: translate(50%);
    -moz-transform: translate(50%);
    -ms-transform: translate(50%);
    -o-transform: translate(50%);
    width: 170px;
    height: 120px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: 10px 10px 20px rgba(61, 61, 61, 0.781);
    z-index: 0;
}
.img_card{
    width: 170px;
    height: 120px;
    margin: auto;
    z-index: 2;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    -webkit-transform: translateX(50%);
    -moz-transform: translateX(50%);
    -ms-transform: translateX(50%);
    -o-transform: translateX(50%);
}
.card img{
    width: 170px;
    height: 120px;
    object-fit: cover;
    display: block;
}
.discription{
    width: 100%;
    height: 200px;
    z-index: 1;
    margin-top: 60px;
    padding: 65px 7px 5px 7px;
    box-shadow: 10px 10px 30px rgba(61, 61, 61, 0.781);
    overflow: hidden;
    position: relative;
    background: radial-gradient(circle, var(--yellow-color), #ffe08d);
    opacity: 1;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}    
.card p{
    margin-top: 5px;
    opacity: 0.7;   
}
.card:hover::after{
    box-shadow: none;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
}
.card:hover .img_card {
    opacity: 0;
    transform: translate( 50%, 50% );
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -webkit-transform: translate( 50%, 50% );
    -moz-transform: translate( 50%, 50% );
    -ms-transform: translate( 50%, 50% );
    -o-transform: translate( 50%, 50% );
}
.card:hover .discription{
    padding-top: 40px;
    transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    box-shadow: 10px 10px 60px rgba(61, 61, 61, 0.623);
}
   
.card:hover .git{
    background: radial-gradient(#ffba3a65, #ffe18d69),
    url('../img/git-link.png');
    background-size: cover;
    background-position: center;
    
}
.card:hover .project{
    background: radial-gradient(#ffba3a65, #ffe18d69),
    url('../img/project.jpg');
    background-size: cover;
    background-position: center;
    
}
.card:hover .abilities{
    background: radial-gradient(#ffba3a65, #ffe18d69),
    url('../img/abilities.jpg');
    background-size: cover;
    background-position: center;
    
}
.card:hover .rezume{
    background: radial-gradient(#ffba3a65, #ffe18d69),
    url('../img/rezume.jpeg');
    background-size: cover;
    background-position: center;
    
}
.active_discription{
    opacity: 1 !important;
    transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
/* finish card style */
/* start footer style*/
footer{
    background-color:var(--footer-color);
    color: white;
    margin-top: 50px;
}
.profile_img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
/* .asd{
    display: flex;
    align-items: center;
    justify-content:right;
    margin-bottom: 10px;
    gap: 5px;
    
} */
/* finish footer style*/
/* start project page */
.main_container{
    margin-top: 7rem;
}
.my_project{
    position: relative
    ;
}
.my_project::before{
    content: '';
    width: 4px;
    height: 45px;
    background-color: var(--yellow-color);
    position: absolute;
    right: -7px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.fix_header{
    position:fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 80px;
}
.code_box {
    height: 30rem;
    border-radius: 0.7rem;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -ms-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    margin: 1rem;
}
.active_codebox{
    color: black !important;
    font-weight:300 !important;
}
/* .breadcrumb-item {
    border-radius: 0 0.5rem 0.5rem 0;
    padding-left: 15px;
    -webkit-border-radius: 0 0.5rem 0.5rem 0;
    -moz-border-radius: 0 0.5rem 0.5rem 0;
    -ms-border-radius: 0 0.5rem 0.5rem 0;
    -o-border-radius: 0 0.5rem 0.5rem 0;
} */

/* .breadcrumb {
    display: flex;
    align-items: center;
    background: #f8f9fa;
    padding: 10px;
    border-radius: 10px;
    list-style: none;
    overflow: hidden;
} */

/* .breadcrumb-item {
    position: relative;
    padding: 10px 20px;
    background: #fff;
    border-right: 1px solid #ddd;
    font-weight: bold;
    color: #333;
    text-decoration: none;
} */

/* .breadcrumb-item a {
    text-decoration: none;
    color: #333;
}



.breadcrumb-item:last-child {
    border-radius: 0 8px 8px 0;
    background: #f0f0f0;
    color: #000;
}

.breadcrumb-item::after {
    content: "";
    position: absolute;
    top: 0;
    right: -10px;
    width: 20px;
    height: 100%;
    background: inherit;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

.breadcrumb-item:last-child::after {
    display: none;
} */


/* finish project page*/

/* start abilities page */

.swiper {
    width: 100%;
    height: 100%;
    
    
}
  
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    
    
}
.swiper-pagination-bullet {
    background: white !important;
    opacity: 0.7;
}
.swiper-button-next::after,
.swiper-button-prev::after{
   opacity: 0;

}
.abilities_boxshadow_right{
    box-shadow: 4px 4px 15px 1px #ffba3ac7;
}
.abilities_boxshadow_left{
    box-shadow: -4px 4px 15px 1px #ffba3ac7;
}
.line::after{
    content: '';
    background-color: var(--yellow-color);
    position: absolute;
    width: 0.4rem;
    height: 39rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}
.circle_of_line_right{
    position: absolute;
    background-color: var(--yellow-color);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    left: -1.65rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.circle_of_line_left{
    position: absolute;
    background-color: var(--yellow-color);
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    right: -1.65rem;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* finish abilities page */

/* اضافه */
@media (max-width: 1200px) {
    .container-xl {
        max-width: 100% !important;
        padding: 0 15px;
    }
}